@import "tailwindcss";

:root {
  --background: #09101e;
  --foreground: #171717;
  --btn-bg-color: rgb(238, 242, 254);
  --secondary-color: rgba(197, 237, 0, 1);
}

@theme inline {
  --color-btn-bg: var(--btn-bg-color);
  --color-secondary: var(--secondary-color);
  --color-bg: var(--background);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

section {
  @apply max-w-7xl mx-auto px-4;
}

input {
  @apply outline-none py-2 px-4;
}

body {
  @apply bg-bg text-white;
}
